<h2> About us </h2>
<h3> Compare the cost of travel options. </h3>
<p> GetSet is an online tool that helps you decide which travel method to use to get from point <b>A</b> to <b>B</b>. </p>
<p> Just enter where you want to go, where you're coming from, the gas price, and the gas mileage of your car. </p>
<p> 
<p> It's that easy. </p>
<p>
<p> Calculate the gas cost of your next trip <%= link_to "<b>now!</b>", :action => "start" %> </p>