<h2> About us </h2>
<h3> Find out gas costs. </h3>
<p> GetSet is an online tool that figures out the gas cost from point <b>A</b> to <b>B</b> for you. </p>
<p> Just enter where you want to go, where you're coming from, the gas price, and the gas mileage of your car. </p>
<p>
<p> It's that easy. </p>
<p>
<p> Calculate the gas cost of your next trip <%= link_to "<b>now!</b>", :action => "start" %> </p>