<div class="wrapper">
	<div id="top-wrap">
		<div id="top"><%= link_to(image_tag("logo.png", :border => 0, :size => "188x141", :class => "logo"), {:controller => "location", :action => "start"}, :alt => "Discover the cheapest method of travel with Getset") %></a></div>
	</div>

	<div id="header-wrap">
		<div id="header"><span class="htitle">Frequently Asked Questions</span></div>
	</div>

	<div id="content-wrap">
		<div id="content">
		<br /><br />
			<h1><b>How do you calculate the prices?</b></h1>
			<p>We get the distance from your origin city to your destination with Google maps, the gas mileage and price per gallon numbers via the <%= link_to "fuel gauge report", "http://www.fuelgaugereport.com/" %>.</p>
			<p>The cost of Gas, Based on US Average Fuel Cost of $2.50 and 30 miles/gallonAirline prices are provided via Kayak, and bus prices from Greyhound. </p>
			<h1>Why isn't my hometown listed? The nerve!</h1>
			<p>If you have a city you'd like added, just let us know via email or twitter. We'll get it up on the site right away. Please note that right now we're currenly only adding cities/metro areas with an airport and bus station to provide the most accurate travel cost comparisons. But feel free to let us know how you feel!</p>
		  <h1> No train costs? </h1>
		  <p> Adding Train costs is a definite priority on our list and we're working on getting that travel option on the site ASAP. We hear you. Stay tuned! </p>
		</div>
	</div>

	<div class="push"></div>
</div>