<div class="wrapper">
	<div id="top-wrap">
		<div id="top"><a href=""><%= link_to(image_tag("logo.png", :border => 0, :size => "188x141", :class => "logo"), {:controller => "location", :action => "start"}, :alt => "Discover the cheapest method of travel with Getset") %></div>
	</div>

	<div id="header-wrap">
		<div id="header"><span class="htitle">Terms and Privacy</span></div>
	</div>

	<div id="content-wrap">
		<div id="content">
		<br /><br />
			<h1>Discover the cheapest method of travel.</h1>
			<p>
      The information contained in this website is for general information purposes only. The information is provided by Getset and while we endeavour to keep the information up-to-date and correct, we make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability or availability with respect to the website or the information, products, services, or related graphics contained on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk.

      In no event will we be liable for any loss or damage including without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising out of or in connection with the use of this website.

      Through this website you are able to link to other websites which are not under the control of Getset. We have no control over the nature, content and availability of those sites. The inclusion of any links does not necessarily imply a recommendation or endorse the views expressed within them.

      Every effort is made to keep the website up and running smoothly. However, Getset takes no responsibility for and will not be liable for the website being temporarily unavailable due to technical issues beyond our control.
      
      <p>This privacy policy sets out how Getset uses and protects any information that you give Getset when you use this website.

      Getset is committed to ensuring that your privacy is protected. Should we ask you to provide certain information by which you can be identified when using this website, then you can be assured that it will only be used in accordance with this privacy statement.

      Getset may change this policy from time to time by updating this page. You should check this page from time to time to ensure that you are happy with any changes. This policy is effective from April 14, 2010.
     
      <p>What we collect</p>

      <p>We may collect the following information: name, contact information including email address, demographic information such as zipcode, preferences and interests, other information relevant to customer surveys and/or offers

      <p>What we do with the information we gather</p>

      <p>We require this information to understand your needs and provide you with a better service, and in particular for the following reasons:

          Internal record keeping.
          We may use the information to improve our products and services.
          We may periodically send promotional email about new products, special offers or other information which we think you may find interesting using the email address which you have provided.
          From time to time, we may also use your information to contact you for market research purposes. We may contact you by email, phone, fax or mail.
          We may use the information to customise the website according to your interests.

      <p>Links to other websites</p>

      <p>Our website may contain links to enable you to visit other websites of interest easily. However, once you have used these links to leave our site, you should note that we do not have any control over that other website. Therefore, we cannot be responsible for the protection and privacy of any information which you provide whilst visiting such sites and such sites are not governed by this privacy statement. You should exercise caution and look at the privacy statement applicable to the website in question.       
      <p>Controlling your personal information</p>

      <p>We will not sell, distribute or lease your personal information to third parties unless we have your permission or are required by law to do so. We may use your personal information to send you promotional information about third parties which we think you may find interesting if you tell us that you wish this to happen.

      If you believe that any information we are holding on you is incorrect or incomplete, please contact us via our feedback page and we will promptly correct any information found to be incorrect.
      
			<p>
	</div>

	<div class="push"></div>
</div>